{% extends 'tours/base.html' %}

{% block title %}Stepik Travel{% endblock %}

{% block content %}

    <!-- HERO -->

    <div class="jumbotron text-center mt-4">
      <h1 class="display-4">Туры от Stepik</h1>
      <p class="lead">{{ site_subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ site_description }}</p>
    </div>

    <!-- CARDS -->

    <div class="row mt-5" data-test="cards">
    {% for tour in tours %}
        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="https://place-hold.it/300x200" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">{{ tour.1.country }}: {{ tour.1.title }}</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/tour/{{ tour.0 }}" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
            </div>
        </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}
